$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

body, html {
   height: 100%;
   font-family: "Amatic SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 26px;
   color: #333;
}

.navbar {
    background-color: white;
    border:0;

    .navbar-brand {
        color: #333;
        font-size: 32px;
    }

    li {
      .active {
        text-decoration: underline !important;
      }

      a {
        color: #333 !important;
        font-size: 24px;

        &:hover {
          color: #6B6B6B !important;
        }
      }
    }
}

.navbar-static-top {
  margin-bottom: 0px;
}

.photo-container {
    height: 100%;
    overflow-x: scroll;
    padding-top: 50px;
}

.photo-scroller {
    height: 100%;
    width: 4000px;
    overflow: hidden;
}

.photo-list {
    height: 100%;
    display: inline;
    text-decoration: none;
    padding-left: 5px;

    img {
        height: 100%;
        display: inline;
        margin-left: 5px;
    }

    li {
        height: 100%;
        display: inline;
        list-style-type: none;
    }
}

.inline {
  display: inline;
}
